@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
    margin: 0;
    width: 100%;
     height: 100%;
    background-color: white;
    padding: 0;
}

section{
    width: 100%;
    height: 100%;
}
section .bg-section{
    width: 100%;
    height: 100%;
}
section .bg-section.title{
    background-image: url("../img/festival/2.jpg");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
section .bg-section.title .main-title {
    width: 100%; height: 100%; position: absolute; z-index: 500; color:white;
}
section .bg-section.title .main-title h1{
    font-size: 9em;font-family: 'Montserrat';margin: 0; position: absolute;top:5%; left: 5%;
    display: inline; font-weight: 700; letter-spacing: 7px;
}
section .bg-section.title .main-title p{
    font-size: 9em;font-family: 'Montserrat';margin: 0; position: absolute;bottom:5%; right: 5%;
    display: inline;font-weight: 700; letter-spacing: 10px;
}

section .bg-section.title .main-title span{
    width: 2px; height: 70%; background-color: white; position: absolute; top:15%; left: 50%; transform: rotate(-40deg);
}
section .bg-section .black-area{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37); position: absolute;
}


section .bg-section.SanFermin{
   background-color: rgb(255, 198, 9);
}

#section4{
    text-align:left;
    background-image: url("../festival/7.jpg") ;
    background-size:cover;
    height: 1000px;
    /* padding: 0px  100px; 상하 좌우 */
    position: relative;

 }
#section3>img{
    margin-right:400px;
}
#box{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.85; 
    font-size:0px;
}
/* section */
section #about_list{
   padding:0px 100px;
   text-align: center;
}

/* 페스티벌 */
#festival1 ul{
    float: left;
    padding:50px 0px;
}
#festival1 li{
    float:left;
    list-style: none;
    width: 20%;
    padding-left: 30px;
}

#festival1{
    padding: 0px 200px;
}
#festival1 img{
    width: 104%;
    display:block;
    margin-top: 400px;
    margin-left: 500px;
}
.festival1>li{
   position: static; /* 옛명령 무시 */
   position: relative; /* 관계형 */
   /* relative 부모는 absolute 자식의 기준점이 됨 */
   width:300px; height:300px; overflow:hidden;
   /*overflow:hidden을 선언해줘야 확대 시 이미지가 밖으로 넘치지 않아요!*/
}

footer{
    text-align:center; 
    background: black;
    color:gold;
    text-align: center;
    height:100px;
    width: 100%;
    padding-top: 50px;
    font-weight: 200;
    /* padding: 0px  100px; 상하 좌우 */
}

.fesimg{
   position:absolute;
   top: 55%;
   right: 0;
   margin-right: 80px;
}
.fesimg img{
   width: 350px;
   padding-left:15px;
}
.festext{
   position: absolute;
   right: 0;
   margin-right: 50px;
   width: 110%;
}
.festext>dl>dt{
    color:white;
    width:400px;
    top:270px;
    right:24%;
    font-size:26px;
    font-weight: 400;
    position: absolute;
    transform:translateX(-50%);
}
.festext>dl>dt:hover{
    color: gold;
    text-decoration: underline;
}
.festext>dl>dd{
    color:white;
    width:1000px;
    top:350px;
    right:20%;
    left:71%;
    line-height:30px;
    font-size:16px;
    font-weight: 200;
    position: absolute;
    transform:translateX(-50%);
}
h4{
   color:gold;
   font-size:100px;
   top:250px;
   left:19%;
   font-weight: 400;
   transform:translateX(-50%);
   position:fixed;
   z-index: 5;
}
h5{
   color:white;
   font-size:30px;
   top:200px;
   left:19%;
   font-weight: 200;
   transform:translateX(-50%);
   position:fixed;
   z-index: 5;
}
   
#h21{
   font-size: 40px;
   font-weight: normal;
   letter-spacing: 15px;
   padding:0px 0px 0px 0px;
   color:white;
   text-align: center;


}