@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
    margin: 0;
    width: 100%;
     height: 100%;
    background-color: white;
    padding: 0;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}
section .bg-section{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 198, 9);
    position: absolute;
   
}
section .bg-section.title{
    background-image: url("../img/festival/2.jpg");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
section .bg-section.title .main-title {
    width: 100%; height: 100%; position: absolute; z-index: 500; color:white;
}
section .bg-section.title .main-title h1{
    font-size: 9em;font-family: 'Montserrat';margin: 0; position: absolute;top:5%; left: 5%;
    display: inline; font-weight: 700; letter-spacing: 7px;
}
section .bg-section.title .main-title p{
    font-size: 9em;font-family: 'Montserrat';margin: 0; position: absolute;bottom:5%; right: 5%;
    display: inline;font-weight: 700; letter-spacing: 10px;
}

section .bg-section.title .main-title span{
    width: 2px; height: 70%; background-color: white; position: absolute; top:15%; left: 50%; transform: rotate(-40deg);
}
section .bg-section .black-area{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37); position: absolute;
}

section .festivalMenu{
    width: 15%;height: 100%; position: absolute; display: flex;
    justify-content:center; align-items: center; justify-items: center;
    z-index: 1000;  left:2%;
}
section .festivalMenu ul{
     font-size: 1em;font-family: 'Montserrat'
}
section .festivalMenu ul li{
    list-style: none; margin-bottom: 20px; border-bottom: solid 1px black; text-align: center;
    padding:5px;cursor: pointer; font-weight: 500;
}
section span{
    width: 1px; height: 100%; background-color: black; position: absolute; top:0; left:20%;
    z-index: 500;
}

section .bg-section .festival-area  {
    width: 100%;height: 100vh; display: flex; position:relative;
     justify-content:center; align-items: center; justify-items: center;
     visibility: hidden;
    transition: ease 0.3s;
    opacity: 0; z-index: 500;
    overflow: hidden;
     
    
}
section .bg-section .festival-area.active {
    visibility: visible;
    transition: ease 0.3s;
    opacity: 1;
}
section .bg-section .festival-area .title-area {
    width: 30%; height: 100%; display: flex; position: absolute; justify-content:center;  justify-items: center;
    left:25%;
    flex-direction: column; color:white;  
}


section .bg-section .festival-area .title-area  h2{
    font-family: 'Montserrat'; font-size: 7rem; margin: 0;
    
}
section .bg-section .festival-area .title-area  p {
    width: 100%;
    font-family:'Noto Sans KR', sans-serif; font-size: 1rem; font-weight: 300;  text-align: justify;
}
section .bg-section .festival-area .title-area  p:first-of-type {
    font-family:'Noto Sans KR', sans-serif; font-size: 2rem; font-weight: 500; 
}
section .bg-section .festival-area .festival-list{
    display: flex;
    width:20%; height: 100%; color:white; position: absolute;  right:17%;
    justify-content:center; align-items: center; justify-items: center;
}
section .bg-section .festival-area .festival-list >img{
   width: 450px;position: absolute;transform: rotate(0deg);
}
section .bg-section .festival-area .festival-list > img:first-of-type{
    position: absolute;top:10%; left:10%; transform: rotate(-10deg);
 }

 section .bg-section .festival-area .festival-list > img:first-of-type.active{
    position: absolute;top:10%; left:10%; margin-top:-60%; width:400px;left: -30%; transform: rotate(-30deg)
 }
 section .bg-section .festival-area .festival-list > img:last-of-type{
   position: absolute; bottom:5%; left:10%; transform: rotate(10deg);z-index: 100; width: 500px;
 }


 section .bg-section .festival-area .festival-list >img:last-child{
   position: absolute; bottom:5%; left:10%; transform: rotate(10deg);z-index: 100; width: 500px;
 }
 section .bg-section .festival-area .festival-list >img:last-child.active{
    position: absolute; bottom:10%; left:10%; transform: rotate(10deg);z-index: 100;
  }


  footer{
    width: 100vw;height:30px;
    background-color:none;z-index: 9999;
    display: flex; justify-content: center; align-items: center;
    background-color: rgb(255, 198, 9);
    border-top:solid 1px black;
}
footer > p{
    margin: 0;
}