
    body{
        margin: 0px;
        background-color: black;
    }
    #wrap{
        min-width: 900px;
        max-width:1680px;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        padding: 20px 50px 0px 0px;
        margin-left: 20px;
        margin-right: 20px;
        height: 50x;
        position: fixed;
        background-color:none;
        top: 0;
        left: 0;
        right: 0;
        z-index: 50;
        float: right;
       
    }

   /* 네비게이션 시작 */
#navMenu {
    list-style: none;
    height: 30px;
    width: 100%;
    padding: 10px 10px;
    padding-right:50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background:none;
    float: right;
    position: fixed;
}

#navMenu li {
    list-style: none;
    position: relative;
    width: 100px;
    float: right; 
    margin: 0px 20px;
    padding: 0;
    text-align: left;
    margin: 0px 50px 0px 0px; /* 상 우 하 좌 */
    
}
#navMenu li a{
    display:block;
    padding:0;
    margin: 0;
    color: white;
    text-decoration: none;
    font-weight: 350;
    
}

#navMenu li:hover > a{
    background:none;
    color:gold;
    margin: 0;
    padding: 0px;

}
h1{
    padding:0px;

}
#navMenu li:hover ul{
    opacity: 1;
    position:absolute;
    
}
#navMenu li:hover ul li{
    height: 20px;
    padding-top:10px;
}
#navMenu ul {
    list-style: none;
    padding: 0px;
    position: absolute;
    color: black; 
    width: 100px;
    height: 20px;
    float:left;
    text-align: left;
    opacity: 0;
}
#navMenu ul li {
    float: none;
    margin: 0;
    padding: 0;
    color: black;
    
}
#navMenu ul a {
    font-weight: normal;
    color: white; 
    font-size:13px;
    margin: 5px;
    font-weight: 300;
    text-align: left;
    
}
#navMenu ul li:hover a{
    /*background:blue;*/
    height: 30px;
    margin:5px;
    color:gold;
}
#nevMenu .menuLink {
    text-decoration:none;
    color: black; 
    display: block;
    width: 100px;
    font-size: 15px; 
    font-weight: medium;  
}
/* 네비게이션 끝 */
    .float_left {float: left;}
    .float_right {float: right;}
    .clear {clear:both; height: 0; overflow:hidden;}
    *{margin:0;padding:0;}
    ul,li{list-style:none;}

    /* 슬라이드 시작 */
    .slide{width:100%; height:1000px; z-index: 5; overflow:hidden; background-image:"./tour/1-1.jpg";}
    .slide ul{width:calc(100% * 4);display:flex;animation:slide 20s infinite; transition:5s;} /* slide를 8초동안 진행하며 무한반복 함 */
    .slide li{width:calc(100% / 4); /*height:700px;*/}
    .slide li:nth-child(1){background-image:"./tour/2-2.jpg";}
    .slide li:nth-child(2){background-image:"./tour/88.jpg";}
    .slide li:nth-child(3){background-image:"./tour/99.jpg";}
    .slide li:nth-child(4){background-image:"./tour/55.jpg";}
    .slide li:nth-child(5){background-image:"./tour/33.jpg";}
    .slide li:nth-child(6){background-image:"./tour/66.jpg";}
    .slide li:nth-child(7){background-image:"./tour/44.jpg";}
    .slide li:nth-child(8){background-image:"./tour/1-1.jpg";}
    @keyframes slide {
        0% {margin-left:0;} /* 0 ~ 10  : 정지 */
        10% {margin-left:-100;} /* 10 ~ 25 : 변이 */
        25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
        35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
        50% {margin-left:-200%;}
        60% {margin-left:-200%;}
        75% {margin-left:-300%;}
        85% {margin-left:-300%;}
        100% {margin-left:0;}
    }
      /* 백그라운드 이미지 사용*/
      /*
      #main_visual{
        background-size: cover;
        background-repeat: no-repeat;

        background-color: black;
        background-position: 50% 50%;
        width: 100%;
        color: white;
        text-align: center;
        padding: 100px 0px; 
        */
    }
    section{
        text-align:left;
        /*background: black;*/
        background-image: url("./tour/444.jpg");
        color: white;
        height:2200px;
        /* padding: 0px  100px; 상하 좌우 */
    }

    .main_img{
        width : 100%;
        height : 100%;
        margin-left: 0px;
        padding-left: 0px;
        background-size: cover;
        display: block;
        float: none;

    }
    img{
        margin-bottom: -5px;
    }
    /* 비주얼 타이틀 */
    #visual_title_top{
        padding:120px 0px 20px 0px;
        font-size: 17px;
        color:white;
        text-align: center;
    }
    #visual_title_bottom{
        font-size: 20px;
        padding:20px 0px 120px 0px;
        text-align: center;
        color:white;
    }
    /* 메인 비주얼 */
    #main_visual img{
        margin: 100px 0px 0px 0px; /* 상 우 하 좌 */
    }
    /* 슬라이드 끝 */

    footer{
        text-align:center; 
        background: #f1f1f1;
        color:black;
        text-align: center;
        height:100px;
        width: 100%;
        padding-top: 50px;
        /* padding: 0px  100px; 상하 좌우 */
    }
     h4{
        color:white;
        font-size:100px;
        position:absolute;
        top:460px;
        left:50%;
        font-weight: 400;
        transform:translateX(-50%);
    }
    h5{
        color:white;
        font-size:30px;
        position:absolute;
        top:400px;
        left:50%;
        font-weight: 200;
        transform:translateX(-50%);}
    #h21{
        font-size: 40px;
        font-weight: normal;
        letter-spacing: 15px;
        padding:0px 0px 0px 0px;
        color:white;
        text-align: center;
    }
