@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
    margin: 0;
    width: 100%;
     height: 100%;
    background-color: white;
    padding: 0;
}

section{
    width: 100%;
}
section .bg-section{
    width: 100%;
    height: 100%;
    position: relative; 
}
section .bg-section.title{
    background-image: url("../img/tour/3.jpg");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
section .bg-section.barcelona{
    background-image: url("../img/tour/6.jpg");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
section .bg-section.Sevilla{
    background-image: url("../img/tour/88.jpg");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;     
    background-repeat: no-repeat;
}

section .bg-section.Granada{
    background-image: url("../img/tour/77.jpg");
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
section .bg-section.title .main-title {
    width: 100%; height: 100%; position: absolute; z-index: 500; color:white;
}
section .bg-section.title .main-title h1{
    font-size: 9em;font-family: 'Montserrat';margin: 0; position: absolute;top:5%; left: 5%;
    display: inline; font-weight: 700; letter-spacing: 7px;
}
section .bg-section.title .main-title p{
    font-size: 9em;font-family: 'Montserrat';margin: 0; position: absolute;bottom:5%; right: 5%;
    display: inline;font-weight: 700; letter-spacing: 10px;
}

section .bg-section.title .main-title span{
    width: 2px; height: 70%; background-color: white; position: absolute; top:15%; left: 50%; transform: rotate(-40deg);
}

section .bg-section .black-area{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.37); position: absolute;
}

section .bg-section .null-area{
    width: 100%;
    height: 100vh;
}

section .bg-section .Tourist{
    width: 100%;
    height: 100%;
}
section .bg-section .Tourist .tour-area{
    width: 100%;height: 100vh; display: flex; position:relative;
     justify-content:center; align-items: center; justify-items: center;
     background-color: rgba(0, 0, 0, 0.542);
    
}
section .bg-section .Tourist .tour-area .title-area {
    width: 100%; height: 30%; display: flex; position: absolute; top:0; left: 5%;
    flex-direction: row; color:white; align-items: center; justify-items: center;
}
section .bg-section .Tourist .tour-area .title-area h2{
    font-family: 'Montserrat'; font-size: 5rem;
    
}
section .bg-section .Tourist .tour-area .title-area p {
    font-family:'Noto Sans KR', sans-serif; font-size: 2rem; font-weight: 300; margin-left:40px;
}
section .bg-section .Tourist .tour-area .tourarea-list{display: flex;
    width:100%; height: 60%; color:white; position: absolute; top:30%; justify-content:center; align-items: center; justify-items: center;
}

section .bg-section .Tourist .tour-area .tourarea-list > ul {
    width: 80%;height: 100%; display: flex; flex-direction: row;  
    justify-content:center; align-items: center; justify-items: center;
    padding:0;
    
}
section .bg-section .Tourist .tour-area .tourarea-list> ul > li{
    width: 100%;height: 100%; list-style: none;
    margin-right:50px;margin-left:50px;display: flex; flex-direction: column;
    align-items: center; justify-items: center;
    
}

section .bg-section  .Tourist .tour-area .tourarea-list > ul >li > dl{
    width: 100%;height: 100%;
}
section .bg-section  .Tourist .tour-area .tourarea-list > ul >li > dl > dt{
    width: 100%; margin-top:40px; margin-bottom:20px;font-size: 2rem;
}
section .bg-section .Tourist .tour-area .tourarea-list > ul >li > dl > dd{
    font-family:'Noto Sans KR', sans-serif; font-weight: 200;
    margin:0; text-align: justify; line-height: 25px;
}














footer{
    position: absolute; width: 100vw;height:30px;
    background-color:none;margin: 0;bottom:0;z-index: 9999;
    display: flex; justify-content: center; align-items: center;
    background: rgba(255, 255, 255, 0.241); 
}
footer > p{
    margin: 0;
}
