body{
    margin: 0px;
    width: 100%;
     height: 100%;
    background-color: white;
}



section{
     width: 100%;
     height: 100%;
      
}
section .section{
    width: 100%;
    height: 100%;

}
.mainImg{
    width: 100%;
    height: 100%;
    background: blue;
    /* background-image: url("img/main/2-2.jpg"); */
    background-attachment : fixed;
    background-position:center;
    background-size:cover;
    position: relative;
}
.box{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    
}

footer{
    position: absolute;
    text-align:center; 
    background: black;
    color:gold;
    text-align: center;
    height:100px;
    width: 100%;
    padding-top: 50px;
    font-weight: 200;
    /* padding: 0px  100px; 상하 좌우 */
}

.sec{
    float:left;
    margin:50px 20px;
    margin-top:12%;
    position: relative;
    width: 400px;
}
.sec:first-child{
    margin-left:12%;
}
#sec1:after{
    content:"";
    display: table;
    clear: both;
}
.sec dt{
    width: 400px;
    color: white;
    margin-top:15%;
    font-size:26px;
    font-weight: 400;
}
.sec dd{
    width: 400px;
    color: white;
    margin-top:30px;
    margin-bottom:180px;
    font-size:16px;
    font-weight: 300;
    line-height:24px;
}
.sec2{
    float:left;
    margin:50px 20px;
    margin-top:17%;
    position: relative;
    width: 400px;
}
.sec2:first-child{
    margin-left:12%;
}
#sec3:after{
    content:"";
    display: table;
    clear: both;
}
.sec2 dt{
    width: 400px;
    color: white;
    margin-top:15%;
    font-size:26px;
    font-weight: 400;
}
.sec2 dd{
    width: 400px;
    color: white;
    margin-top:30px;
    margin-bottom:180px;
    font-size:16px;
    font-weight: 300;
    line-height:24px;
    text-align:justify;
}
#name{
    font-size: 180px;
    color:black;
    padding-top:0px;
    padding-left:100px;
    position:absolute;
    font-style: oblique;
    text-shadow:
    -1px -1px 0 gold,
    1px -1px 0 gold,
    -1px 1px 0 gold,
    1px 1px 0 gold; 
    }

#name2{
    font-size: 180px;
    color:black;
    padding-top:0px;
    padding-left:1050px;
    position:absolute;
    font-style: oblique;
    text-shadow:
    -1px -1px 0 gold,
    1px -1px 0 gold,
    -1px 1px 0 gold,
    1px 1px 0 gold; 
    }
    

